<h1>New payment</h1>
<% @mandates.each do |mandate| %>
  <%= mandate.id %>
<% end %>
  <%= form_with scope: :payment, url: payments_path do |form| %>
  <div>
    <%= form.label :mandate_id %><br>
    <%= form.text_field :mandate_id %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
